<!--comment  -->
<!--(1st do this to compile) erb site/index.html.erb > site/index.html
 (then do this to open both from cross_check dir) open site/index.html-->

<% require './lib/stat_tracker.rb' %>
<% game_path = './data/game.csv'
team_path = './data/team_info.csv'
game_teams_path = './data/game_teams_stats.csv'
dummy_game_path = './dummy_data/dummy_game.csv'
dummy_team_path = './dummy_data/dummy_team_info.csv'
dummy_game_teams_path = './dummy_data/dummy_game_team_stats.csv'

locations = {
  games: game_path,
  teams: team_path,
  game_teams: game_teams_path,
  dummy_games: dummy_game_path,
  dummy_teams: dummy_team_path,
  dummy_game_teams: dummy_game_teams_path
}
%>
<%stat_tracker = StatTracker.from_csv(locations) %>

<head>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<div id = "nav_bar">
  <h1> Home Page </h1>
  <a href='game_stats.html'>Game Stats      </a>
  <a href='league_stats.html'>League Stats     </a>
  <a href='team_stats.html'>Team Stats     </a>
  <a href='season_stats.html'>Season Stats     </a>
  <br>
  <a href = 'info.html'>Whats Cross Check?</a>
</div>

<hr>
